body {
    --desktop-ratio: 1.05204461;
    --laptop-ratio: 1.55374593;
    --tablet-ratio: 0.615;
    --mobile-ratio: 0.48469388;
    background-color: #FAFAFA;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.white-bkg {
    background-color: white !important;
}

fieldset {
    border: none;
}

.url input {
    font-family: monospace;
    width: 50%;
    height: 1.8rem;
    font-size: 1.4em;
    float: left;
    margin-right: 1em;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.url input:focus {
    width: 85%;
    color: black;
    border: solid 2px;
}

p {
    line-height: 1.6;
    margin: 1em 2em;
}

a {
    color: #ede6dc;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.toFaq a {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 1em;
    border: solid 2px #E14840;
    text-align: center;
    line-height: 30px;
    border-radius: 100%;
    color: #E14840;
}

.toFaq:hover {
    border-color: black;
}

.toFaq:hover a {
    color: white;
    background-color: #E14840;
}

.clean-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    background-color: #E14840;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    z-index: 100;
}

.info-clean {
    font-family: monospace;
    position: absolute;
    bottom: 1.5rem;
    right: 7rem;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: right;
    background-color: #E14840;
    color: white;
    z-index: 100;
}

#ic-fs, #ic-cancel {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    fill: white;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

#ic-fs {
    width: 38px;
    height: 38px;
}

#ic-cancel {
    display: none;
    width: 55px;
    height: 55px;
}

.clean-button:hover {
    -webkit-transform: scale(1.2) rotate(180deg);
    transform: scale(1.2) rotate(180deg);
}

.clean-wrapper:hover>.info-clean {
    opacity: 1;
}

.clean-button:hover #ic-fs {
    width: 38px;
    height: 38px;
}

.small {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

a.button {
    background-color: black;
    color: white;
    width: 10%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    float: left;
    letter-spacing: 2px;
    background-color: #E14840;
}

a.button:hover {
    opacity: .5;
}

h1 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: .4rem;
    clear: both;
    line-height: 25px;
}

h3 {
    font-size: 1.1rem;
    font-family: monospace;
    text-transform: none;
}

#m-logo {
    width: 175px;
    margin-bottom: 1em;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}

.display {
    position: relative;
    width: 100%;
    height: 600px;
}

.url {
    margin-bottom: 1em;
    box-shadow: 0px -2px 5px #333;
    padding: 20px 20px 10px 20px;
}

#url {
    font-size: 1.1rem;
}

form {
    width: 85%;
    margin: 1em auto;
    display: inline-block;
}

div {
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

iframe {
    transform: scale(0.219);
    -webkit-transform: scale(0.219);
    -o-transform: scale(0.219);
    -ms-transform: scale(0.219);
    -moz-transform: scale(0.219);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: white;
}

.clean-wrapper {
    z-index: 100;
}

.desktop {
    position: absolute;
    width: calc(var(--desktop-ratio) * 538px);
    height: 538px;
    top: 0px;
    left: 20%;
    z-index: 1;
    background-image: url("../images/desktop.svg");
}

.desktop iframe {
    left: 22px;
    top: 31px;
    width: 1600px;
    height: 892px;
    -webkit-transform: scale(0.328);
    transform: scale(0.328);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
}

.laptop {
    position: absolute;
    width: calc(var(--laptop-ratio) * 307px);
    height: 307px;
    top: 264px;
    left: 50%;
    z-index: 2;
    background-image: url("../images/laptop.svg");
}

.laptop iframe {
    width: 1440px;
    height: 900px;
    top: 20px;
    left: 58px;
    transform: scale(0.25);
    -webkit-transform: scale(0.25);
    -o-transform: scale(0.25);
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
}

.tablet {
    position: absolute;
    width: calc(var(--tablet-ratio) * 400px);
    height: 400px;
    left: 9%;
    top: 230px;
    z-index: 3;
    background-image: url("../images/tablet-blk.svg");
}

.tablet iframe {
    width: 768px;
    height: 1024px;
    top: 37px;
    left: 21px;
    -webkit-transform: scale(0.265);
    transform: scale(0.265);
}

.mobile {
    position: absolute;
    width: calc(var(--mobile-ratio) * 196px);
    height: 196px;
    top: 390px;
    left: 30%;
    z-index: 5;
    background-image: url("../images/phone-blk.svg");
}

.mobile iframe {
    width: 375px;
    height: 670px;
    top: 28px;
    left: 11px;
    transform: scale(0.192);
    -webkit-transform: scale(0.192);
    -o-transform: scale(0.192);
    -ms-transform: scale(0.192);
    -moz-transform: scale(0.192);
}

footer {
    margin-top: 2em;
    font-size: .8rem;
    font-family: monospace;
    text-transform: none;
    text-align: left;
}

footer a {
    color: black;
}

footer a:hover {
    color: white;
    background-color: black;
}

.display-none {
    display: none;
}

.display-on {
    display: block !important;
}

.master-faq {
    font-family: monospace;
    width: 80%;
    max-width: 700px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-indent: 0px;
}

.master-faq p {
    font-size: 1rem;
    line-height: 1.2em;
    margin: 1em 0 0;
}

.master-faq h1 {
    padding-top: .5em;
    font-family: 'Oswald', sans-serif;
}

.master-faq a {
    color: #E14840 !important;
}

.master-faq a:hover {
    text-decoration: underline;
}

.quizz {
    font-weight: bold;
}

.answer {
    text-transform: none;
}

.backToHome {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 10px;
    font-size: .8rem;
    line-height: 1em;
    background-color: #E14840;
    width: 90px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .125s ease;
    -webkit-transition: all .100s ease;
    transition: all .100s ease;
    opacity: .5;
}

.backToHome a {
    color: white !important;
    letter-spacing: 2px;
}

.backToHome:hover {
    opacity: 1;
}

.backToHome:hover a {
    text-decoration: none;
}

.flex-container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.flex-item {
    width: 40vw;
}

.desktop-solo, .laptop-solo, .tablet-solo, .mobile-solo {
    top: 50%;
    left: 0 !important;
    right: 0 !important;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.desktop-solo {
    width: calc(var(--desktop-ratio) * 600px);
    height: 600px;
}

.desktop-solo iframe {
    left: 26px;
    top: 35px;
    height: 900px;
    -webkit-transform: scale(0.363);
    transform: scale(0.363);
}

.laptop-solo {
    width: calc(var(--laptop-ratio) * 500px);
    height: 500px;
}

.laptop-solo iframe {
    top: 32px;
    left: 95px;
    -webkit-transform: scale(0.41);
    transform: scale(0.41);
}

.tablet-solo {
    width: calc(var(--tablet-ratio) * 600px);
    height: 600px;
}

.tablet-solo iframe {
    top: 53px;
    left: 30px;
    -webkit-transform: scale(0.40);
    transform: scale(0.40);
}

.mobile-solo {
    width: calc(var(--mobile-ratio) * 588px);
    height: 588px;
}

.mobile-solo iframe {
    top: 85px;
    left: 34px;
    -webkit-transform: scale(0.576);
    transform: scale(0.576);
}


/* RADIO BUTTON*/

.select-device {
    position: fixed;
    top: 200px;
    right: 40px;
    width: auto;
    z-index: 100;
}

.radio-wrapper {
    clear: both;
}

.radio-wrapper label {
    font-family: monospace;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.radio-wrapper input.radio:empty {
    margin-left: -999px;
}

.radio-wrapper input.radio:empty~label {
    position: relative;
    float: right;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 1em;
    padding-right: 3.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity: .3;
}

.radio-wrapper input.radio:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
    border-radius: 100%;
}


/* toggle hover */

.radio-wrapper input.radio:hover:empty~label {
    opacity: 1;
}

.radio-wrapper input.radio:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: white;
    background-color: black;
}

.radio-wrapper input.radio:hover:not(:checked)~label {
    color: #888;
}


/* toggle on */

.radio-wrapper input.radio:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: white;
    background-color: black;
}

.radio-wrapper input.radio:checked~label {
    color: black;
}


/* radio focus */

.radio-wrapper input.radio:focus~label:before {}


/* Mobile Splash Screen */

#no-mobile {
    display: none;
}

#no-mobile p {
    text-align: center;
    font-size: .7rem;
}

@media (max-width: 960px) {
    .url {
        text-align: center;
    }
    .url input {
        width: 100%;
        float: none;
    }
    .wrapper {
        margin-top: 0;
    }
    .display {
        width: 100%;
        height: 700px;
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }
    .desktop {
        left: 100px;
    }
    .laptop {
        left: 40%;
    }
    .tablet {
        left: -2%;
    }
    .mobile {
        left: 26%;
    }
    .mobile-solo {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        font-size: .9rem;
    }
    .info-clean {
        display: none;
    }
    .toFaq a {
        width: 45px;
        height: 45px;
        top: 0;
        right: 0;
        font-size: 1.3rem;
        line-height: 45px;
        border-radius: 0;
    }
    input {
        height: 2em;
        width: 100%;
    }
    .url input:focus {
        width: 100%;
    }
    a.button {
        margin-top: 0.5em;
        width: 100%;
    }
    footer {
        text-align: center;
    }
    .select-device {
        position: relative;
        top: 0;
        right: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .radio-wrapper {
        display: inline-block;
    }
    .radio-wrapper input.radio:checked~label:before {
        text-indent: .2em;
        color: white;
        background-color: black;
    }
    .radio-wrapper input.radio:hover:not(:checked)~label:before {
        text-indent: .2em;
    }
}

@media (max-width: 768px) {
    .display {
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }
    .laptop {
        right: 10%;
    }
    .laptop-solo {
        width: calc(var(--laptop-ratio) * 400px);
        height: 400px;
    }
    .laptop-solo iframe {
        top: 26px;
        left: 75px;
        -webkit-transform: scale(0.325);
        transform: scale(0.325);
    }
}

@media (max-width: 670px) {
    #no-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .url, .select-device, .wrapper, .clean-wrapper, footer {
        display: none;
    }
}
